<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Designation</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Salary</label>
            <input type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Phonenumber</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Company Website</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Year of Expirience</label>
            <input type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <button class="btn btn-success">Submit</button>
        </div>
    </div>
</div>
