<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Employee ID</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Arjun</td>
                    <td>101</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Karthik</td>
                    <td>102</td>
                   
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Jisa</td>
                    <td>103</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Rohit</td>
                    <td>104</td>
                
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Raj</td>
                    <td>105</td>
            
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td >Anny</td>
                    <td>106</td>
                    

                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Justin</td>
                    <td>107</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Rani</td>
                    <td>108</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td >Ram</td>
                    <td>109</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td >Shyma</td>
                    <td>110</td>
                    
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
